.applications {
  color: $white;
  background-color: $gray-blue;
  padding-top: 28px;
  padding-bottom: 30px;
}

.applications__download {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  color: $white;
  margin: auto;
  margin-bottom: 32px;

  border: 3px solid $white;
  border-radius: 29px;
  padding: 0;
  background-color: transparent;
  width: 100%;
  height: 55px;

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    background-color: $white;
    color: $opacity-03-pink;
  }
}

.applications__images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
}

.applications__image {
  margin-right: 35px;
}

.applications__image:last-child {
  margin-right: 0;
}

.applications__platform {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .applications__wrapper {
    width: 300px;
  }

  .applications {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 114px;
  }

  .applications__platform {
    font-size: 18px;
  }

  .applications__download {
    margin-bottom: 46px;
  }

  .applications__images {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .applications {
    background-color: transparent;
    padding-top: 35px;
    padding-bottom: 125px;
  }

  .applications__download {
    font-size: 21px;
    margin-bottom: 67px;
  }

  .applications__images {
    margin-bottom: 53px;
    align-items: flex-end;
  }
}
