.functions {
  background-color: $white;
  padding-top: 40px;
}

.functions__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $middle-gray;
  text-align: center;
  margin: 0;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 36px;
  }
}

.functions__list-wrapper {
  background-color: $light-gray;
}

.functions__list {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  list-style: none;
  text-align: center;
}

.functions__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 13px;
}

.functions__description {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;

  &--last {
    margin-bottom: 0;
  }
}

.functions__triangle {
  margin-bottom: 45px;
}

.functions__img {
  text-align: center;
  overflow: hidden;
  height: 276px;
}

.functions__img-rubbish-pink-phone,
.functions__img-rubbish-phone {
  display: none;
}

@media (min-width: $tablet-width) {
  .functions {
    padding-top: 47px;
    height: auto;
  }

  .functions__slogan {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 28px;
    }
  }

  .functions__list-flex {
    display: flex;
    justify-content: space-between;
  }

  .functions__list {
    order: 2;
    width: 310px;
    padding-top: 23px;
    margin-bottom: 0;
    text-align: left;
  }

  .functions__description {
    margin-bottom: 33px;

    &--last {
      margin-bottom: 42px;
    }
  }

  .functions__triangle {
    margin-bottom: 0;
    border-width: 0 0 54px 100vw;
  }
}

@media (min-width: $desktop-width) {
  .functions {
    padding-top: 77px;
  }

  .functions__slogan {
    font-size: 50px;
    line-height: 68px;

    &:last-child {
      margin-bottom: 66px;
    }
  }

  .functions__img-rubbish-pink-phone,
  .functions__img-smile-phone,
  .functions__img-rubbish-phone {
    display: inline-block;
  }

  .functions__list-flex {
    flex-direction: column;
  }

  .functions__img {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }

  .functions__list {
    width: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 59px;
  }

  .functions__item {
    width: 252px;
  }

  .functions__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .functions__description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }
}
