.price {
  background-color: $light-gray;
  padding-bottom: 44px;
}

.price__triangle {
  border-width: 0 0 19px 100vw;
  margin-bottom: 80px;
}

.price__list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  width: 840px;
  position: relative;
  left: -280px;
}

.price__list-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.price__list-rate {
  background-color: $middle-gray;
  color: $white;
  text-align: center;
  width: 280px;

  &--mobile-hidden {
    display: none;
  }

  &--border-left {
    border: 2px solid $middle-gray;
    border-radius: 1px 0 0 0;
  }

  &--border-right {
    border: 2px solid $middle-gray;
    border-radius: 0 1px 0 0;
  }
}

.price__list-tariff {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
}

.price__list-value {
  font-weight: 300;
  margin: 0;
  margin-top: -3px;
  margin-bottom: 26px;
}

.price__list-options {
  font-size: 14px;
  text-transform: uppercase;
  color: $middle-gray;
  background-color: $white;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 20px;

  &--yes {
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: 94% 47%;
  }

  &--no {
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    background-position: 93% center;
  }

  &--mobile-hidden {
    display: none;
  }
}

.price__toggles {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .price__list-wrapper {
    width: 620px;
    box-sizing: content-box;
  }

  .price__list {
    width: 100%;
    position: static;
  }

  .price__list-value {
    margin-bottom: 16px;
  }

  .price__list-options {
    font-size: 0;
    padding-top: 18px;
    padding-bottom: 17px;
    background-position: center center;

    &--mobile-hidden {
      font-size: 14px;
      display: block;
    }
  }

  .price__list-rate--mobile-hidden {
    display: block;
    background-color: $light-gray;
  }

  .price__list-rate {
    width: 152px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price__list-wrapper {
    width: 940px;
  }

  .price__list-rate {
    width: 233px;
  }
}
