.price {
  background-color: $light-gray;
  padding-top: 98px;
  padding-bottom: 44px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    border-style: solid;
    border-width: 0 0 19px 100vw;
    border-color: transparent transparent transparent $white;
  }
}

.price__list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  width: 840px;
  position: relative;
  left: -280px;
}

.price__list-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.price__list-rate {
  background-color: $middle-gray;
  color: $white;
  text-align: center;
  width: 280px;
  border: 2px solid #283645;

  &--mobile-hidden {
    display: none;
    border: none;
  }

  &--border-left {
    border: 2px solid $middle-gray;
    border-radius: 1px 0 0 0;
  }

  &--border-right {
    border: 2px solid $middle-gray;
    border-radius: 0 1px 0 0;
  }

  &--hit {
    position: relative;
    overflow: hidden;
  }
}

.price__list-tariff {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
}

.price__list-value {
  font-weight: 300;
  margin: 0;
  margin-top: -3px;
  margin-bottom: 26px;
}

.price__list-options {
  font-size: 14px;
  text-transform: uppercase;
  color: $middle-gray;
  background-color: $white;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 20px;

  &--yes {
    background-image: url("../img/index/yes.svg");
    background-repeat: no-repeat;
    background-position: 94% 47%;
  }

  &--no {
    background-image: url("../img/index/no.svg");
    background-repeat: no-repeat;
    background-position: 93% center;
  }

  &--mobile-hidden {
    display: none;
  }
}

.price__toggles {
  margin-top: 0;
}

.price__list-label-hit {
  position: absolute;
  top: 13px;
  left: -50px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-45deg);
  background-color: $pink;
  width: 150px;
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 96px;
    padding-bottom: 28px;

    &::before {
      border-width: 0 0 42px 100vw;
    }
  }

  .price__list-wrapper {
    width: 620px;
    box-sizing: content-box;
  }

  .price__list {
    width: 100%;
    position: static;
  }

  .price__list-value {
    margin-bottom: 8px;
  }

  .price__list-options {
    font-size: 0;
    text-transform: capitalize;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    background-position: center center;

    &--mobile-hidden {
      font-size: 14px;
      display: block;
    }
  }

  .price__list-rate {
    width: 152px;

    &--mobile-hidden {
      display: block;
      background-color: $light-gray;
    }
  }

  .price__toggles {
    display: none;
  }

  .price__list-label-hit {
    top: 11px;
    left: -56px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 154px;
    padding-bottom: 54px;

    &::before {
      border-width: 0 0 100px 100vw;
    }
  }

  .price__list-wrapper {
    width: 940px;
  }

  .price__list-rate {
    width: 233px;
  }

  .price__list-tariff {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 3px;
  }

  .price__list-value {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .price__list-options {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 15px;

    &--mobile-hidden {
      font-size: 18px;
    }
  }

  .price__list-label-hit {
    top: 13px;
    left: -50px;
    line-height: 25px;
  }
}
