.reviews {
  background-color: $white;
  margin: 0;
  padding-top: 41px;
  padding-bottom: 38px;
}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
  display: block;
  text-align: center;
  margin-bottom: 14px;
}

.reviews__text {
  font-size: 14px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.reviews__item {
  margin: 0;
}

.reviews__author-additionally {
  display: none;
  font-size: 14px;
  color: $middle-gray;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.reviews__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 33px;
    padding-bottom: 15px;
  }

  .reviews__author-additionally {
    display: block;
    margin-bottom: 34px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-info {
    order: 2;
  }

  .reviews__text {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .reviews__author-name {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 184px;
    padding-bottom: 34px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 72px;
      margin-right: auto;
      margin-left: auto;
      width: 79px;
      height: 63px;
      background-image: url("../../img/quotes.svg");
    }
  }

  .reviews__author-name {
    font-size: 24px;
    margin-bottom: 3px;
  }

  .reviews__author-additionally {
    font-size: 18px;
    margin-bottom: 0;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__item {
    width: 688px;
  }

  .reviews__list {
    display: flex;
    justify-content: space-between;
  }

  .reviews__button {
    display: inline-block;
    flex-shrink: 0;
    width: 22px;
    height: 41px;
    padding: 0;
    margin-top: 29px;
    border: none;
    background-color: transparent;
    background-image: url("../../img/left-arrow.svg");
    opacity: 0.3;

    &--next {
      transform: rotate(-180deg);
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
