.competition {
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 237px;
  margin-top: -66px;
}

.competition-title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white;
  margin: 0;
  padding-top: 95px;
  text-align: center;
}
