.contacts {
  background-color: $white;
}

.contacts__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $middle-gray;
  text-align: center;
}

.contacts__data {
  line-height: 25px;
  font-weight: 700;
  color: $middle-gray;
  text-align: center;
}

.contacts__communication {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $pink;
  text-align: center;

    &--phone {
      display: block;
      text-decoration: none;
    }

}

.contacts__communication--phone {
  display: block;
  text-decoration: none;
}

.contacts__map {
  width: 100%;
  height: 200px;
  border: 0;
}
