.copyright {
  margin-top: 50px;
  margin-bottom: 51px;
  padding-right: 42px;
  position: relative;
}

.copyright__link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 27px;
  height: 34px;
  background-image: url("../img/html-academy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
