.copyright {
  font-size: 14px;
  line-height: 18px;
  color: $middle-gray;
  margin-top: 50px;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
}

.copyright__link {
  display: inline-block;
  margin-left: 15px;

  &:hover .copyright__img path {
    fill: $middle-gray;
  }

  &:active .copyright__img path {
    fill: $middle-gray;
    opacity: 0.3;
  }
}

.copyright__img {
  vertical-align: bottom;
}
