.form-contacts {
  border: none;
  margin: 0;
  padding: 0;
}

.form-contacts__legend {
  display: none;
}

.form-contacts-list {
  list-style: none;
  padding: 0;
}

.form-contacts__label-input {
  font-size: 14px;
  color: $pink;
  text-transform: uppercase;
  margin-left: 23px;
}

.form-contacts__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  width: 280px;
  border: 2px solid $light-gray;
  border-radius: 2px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 27px;
}
