.form-emotion {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.form-emotion__legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 22px;
}

.form-emotion__textarea {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  height: 197px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid $small-gray;
  border-radius: 1px;
}

.form-emotion__textarea::placeholder {
  color: $middle-gray;
}
