.form-apps {
  border: none;
  background-color: $light-gray;
  padding: 0;
  margin: 0;
}

.form-apps__legend {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background-color: $light-gray;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 52px;
}

.form-apps-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-apps-item {
  margin-bottom: 62px;
}

.form-apps-item:last-child {
  margin-bottom: 54px;
}


.form-apps__label-checkbox-radio {
  padding-left: 70px;
  position: relative;
}

.form-apps__radio + .form-apps__label-checkbox-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
  width: 37px;
  height: 37px;
  border: 2px solid $small-gray;
  border-radius: 50%;
  background-color: $white;
}

.form-apps__radio:hover + .form-apps__label-checkbox-radio::before {
  border: 2px solid $middle-gray;
}

.form-apps__radio:active + .form-apps__label-checkbox-radio::before {
  border: 2px solid $pink;
}

.form-apps__radio:checked + .form-apps__label-checkbox-radio::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 4px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}
