.form {
  background-color: $white;
}

.form__description {
  font-size: 14px;
  text-align: center;
  color: $middle-gray;
  margin: 0;
  padding-top: 56px;
  padding-bottom: 55px;
}

.form__legend {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $middle-gray;
  margin-top: 44px;
}

.form__additionally {
  color: $pink;
}
