.form__description {
  font-size: 14px;
  text-align: center;
  color: $middle-gray;
  margin: 0;
  padding-top: 54px;
  padding-bottom: 13px;
}

.form__legend {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $middle-gray;
  margin-top: 44px;
  margin-bottom: 26px;
}

.form__additionally {
  color: $pink;
}
