.glance {
  color: $white;
  background-image: url(../img/phone.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 462px;
  margin-top: -66px;
}

.glance__slogan {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 90px;
}
