.introduction {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: $middle-gray;
  margin-top: -66px;

  &--main {
    background-image: url("../img/phone.jpg");
  }
}

.introduction__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white;
  margin: 0;
  padding-top: 101px;
  text-align: center;

  &--form {
    padding-bottom: 51px;
  }

  &--catalog {
    padding-bottom: 84px;
  }
}

.introduction__slogan {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: $white;
  text-align: center;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 315px;
}

@media (min-width: $tablet-width), (min-width: $desktop-width) {

  .introduction {
    margin-top: -111px;
  }

}
