.introduction {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $middle-gray;
  margin-top: -66px;

  &--main {
    background-image: url("../img/phone.jpg");
  }
}

.introduction__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white;
  margin: auto;
  padding-top: 94px;
  text-align: center;

  &--form {
    padding-bottom: 44px;
  }

  &--catalog {
    padding-bottom: 77px;
  }
}

.introduction__slogan {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: $white;
  text-align: center;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 315px;
}

@media (min-width: $tablet-width) {
  .introduction {
    margin-top: -111px;
  }

  .introduction__slogan {
    font-size: 40px;
    line-height: 48px;
    padding-top: 204px;
    padding-bottom: 0;
    margin-left: 50px;
    width: 200px;
  }

  .introduction__title {
    font-size: 50px;
    line-height: 68px;
    padding-top: 177px;

    &--form {
      padding-bottom: 59px;
    }

    &--catalog {
      padding-bottom: 127px;
    }
  }
}

@media (min-width: $desktop-width) {
  .introduction__slogan {
    font-size: 50px;
    line-height: 68px;
    width: 300px;
    padding-top: 209px;
    margin-left: 0;
  }

  .introduction__title {
    padding-top: 167px;
    padding-bottom: 89px;

    &--catalog {
      width: 360px;
    }
  }
}
