.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 40px;
  margin-bottom: 41px;
  text-align: center;
}

.social__list {
  display: flex;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link {
  border: 3px solid $opacity-03-middle-gray;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  background-color: var(--extra-gray);
  border-radius: 50%;
}

.social__item {
  margin-right: 8px;
}

.social__item:last-child {
  margin-right: 0;
}

.page-footer__copyright {
  margin-top: 50px;
  margin-bottom: 51px;
  padding-right: 42px;
  position: relative;
}

.copyright__link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 27px;
  height: 34px;
  background-image: url("../img/html-academy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

