.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-link {
  font-size: 0;
}

.page-footer__img-glasses {
  padding-right: 12px;
}

.page-footer__img-glasses,
.page-footer__img-pink {
  vertical-align: bottom;
}

.page-footer__logo-link:hover .page-footer__img-pink path{
  fill: $pink;
}

.page-footer__logo-link:active .page-footer__img-pink path{
  fill: $middle-gray;
  opacity: 0.3;
}

.page-footer__logo-link:active .page-footer__img-glasses path{
  opacity: 0.3;
}
