.price {
  background-color: $white;
  background-image: url(../img/grey-background.jpg);
  background-repeat: no-repeat;
  background-position: center 5%;
}

.price__list-rate {
  background-color: $middle-gray;
  color: $white;
}

.price__list-options {
  font-size: 14px;
  color: $middle-gray;
}

.price__list-options--yes {
  background-image: url("../img/yes.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.price__list-options--no {
  background-image: url("../img/no.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.price__toggles {
  margin-top: 0;
}
