.price {
  background-color: $white;
}

.price__list-rate {
  background-color: $middle-gray;
  color: $white;
}

.price__list-options {
  font-size: 14px;
  color: $middle-gray;
}

@mixin options-yes() {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 31px;
    height: 21px;
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
  }
}

.price__list-options-yes {
  position: relative;
  @include options-yes();
}

@mixin options-no() {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 27px;
    height: 27px;
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
  }
}

.price__list-options-no {
  position: relative;
  @include options-no();
}

.price__toggles {
  margin-top: 0;
}
