.reviews {
  background-color: $white;
  margin: 0;
}

.reviews__author-name {
  font-weight: 700;
  display: block;
  text-align: center;
}

.reviews__text {
  font-size: 14px;
  margin-top: 31px;
  margin-bottom: 41px;
  text-align: center;
}

.reviews__list {
  padding-top: 50px;
}

.reviews__item {
  margin: 0;
}
