.editor {
  padding-top: 44px;
}

.editor__title {
  font-size: 14px;
  color: $middle-gray;
  text-align: center;
  margin: 0;
  margin-bottom: 41px;
}

.editor__window-wrapper {
  text-align: center;
}

.editor__window {
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 374px;
}

.editor__wrapper {
  background-color: $light-gray;
  padding-top: 20px;
}

.editor__customization {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  margin-right: 10px;
}

.editor__customization-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.editor__customization-button + .editor__customization-button {
  margin-left: 35px;
}

.editor__customization-button-img {
  vertical-align: bottom;
}

.editor__range {
  width: 240px;
  margin: 6px 0;
  vertical-align: middle;
  background-color: transparent;
  -webkit-appearance: none;
}

.editor__range:focus {
  outline: none;
}

.editor__range::-webkit-slider-runnable-track {
  background: rgba(40, 54, 69, 0.78);
  border: 0;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.editor__range::-webkit-slider-thumb {
  margin-top: -6px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 2px solid #d22856;
  border-radius: 49px;
  cursor: pointer;
  -webkit-appearance: none;

  &:active {
    background: $pink;
  }
}

.editor__range:focus::-webkit-slider-runnable-track {
  background: #314355;
}

.editor__range::-moz-range-track {
  background: rgba(40, 54, 69, 0.78);
  border: 0;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.editor__range::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 2px solid #d22856;
  border-radius: 49px;
  cursor: pointer;
}

.editor__range::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.editor__range::-ms-fill-lower {
  background: #1f2935;
  border: 0;
}

.editor__range::-ms-fill-upper {
  background: rgba(40, 54, 69, 0.78);
  border: 0;
}

.editor__range::-ms-thumb {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 2px solid #d22856;
  border-radius: 49px;
  cursor: pointer;
  margin-top: 0;
  /*Needed to keep the Edge thumb centred*/
}

.editor__range:focus::-ms-fill-lower {
  background: rgba(40, 54, 69, 0.78);
}

.editor__range:focus::-ms-fill-upper {
  background: #314355;
}

@supports (-ms-ime-align:auto) {
  .editor__range {
    margin: 0;
  }
}

.editor__band-wrapper {
  padding: 20px 0;
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    right: 0;
    background-color: $opacity-01-middle-gray;
  }

  &--paint,
  &--contrast {
    display: none;
  }
}

.editor__send-cancel {
  width: 280px;
  margin: auto;
  padding-top: 42px;
  padding-bottom: 41px;
}

.editor__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 30px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  &--send {
    border: 3px solid $pink;
    color: $pink;
    margin-bottom: 12px;

    &:hover {
      background-color: $pink;
      color: $white;
    }

    &:active {
      background-color: $pink;
      color: $opacity-03-white;
    }
  }

  &--cancel {
    border: 3px solid $opacity-01-middle-gray;
    color: $opacity-01-middle-gray;

    &:hover {
      border-color: $opacity-03-middle-gray;
      color: $opacity-03-middle-gray;
    }

    &:active {
      border-color: $opacity-03-middle-gray;
      background-color: $opacity-03-middle-gray;
      color: $opacity-03-white;
    }
  }
}

@media (min-width: $tablet-width) {
  .editor {
    padding-top: 64px;
  }

  .editor__title {
    font-size: 18px;
    margin-bottom: 70px;
  }

  .editor__area {
    display: grid;
    width: 620px;
    grid-template-columns: 300px 275px;
    grid-template-rows: auto 1fr;
    grid-column-gap: 45px;
    margin: auto;
  }

  .editor__window-wrapper {
    grid-row: 1/3;
  }

  .editor__wrapper {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .editor__window {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }

  .editor__band-wrapper {
    &--paint,
    &--contrast {
      display: block;
    }

    &--cut {
      padding-top: 5px;
    }

    &::before {
      width: 275px;
    }
  }

  .editor__modification {
    display: flex;
  }

  .editor__customization {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 24px;
    padding-left: 3px;
    margin: 0;
  }

  .editor__customization-button + .editor__customization-button {
    margin-left: 0;
  }

  .editor__customization-button-img {
    &--cut {
      width: 22px;
      height: 22px;
    }

    &--paint {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .editor__range {
    width: 202px;
    margin-left: 10px;
  }

  .editor__bands-wrapper {
    flex-grow: 1;
  }

  .editor__send-cancel {
    padding-top: 71px;
    padding-bottom: 0;
    margin: 0;
    width: auto;
  }

  .editor__button {
    width: 260px;

    &--send {
      margin-bottom: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .editor {
    padding-top: 56px;
    padding-bottom: 29px;
  }

  .editor__title {
    margin-bottom: 67px;
  }

  .editor__wrapper {
    padding: 0;
    background-color: $white;
  }

  .editor__area {
    background-color: $light-gray;
    padding: 57px 60px 57px 80px;
    width: 800px;
    grid-template-columns: 300px 410px;
    grid-column-gap: 90px;
  }

  .editor__customization-button {
    &--paint {
      margin-bottom: 11px;
    }
  }

  .editor__customization-button-img {
    &--cut {
      width: 44px;
      height: 44px;
    }

    &--paint {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .editor__customization {
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 0;
  }

  .editor__range {
    width: 288px;
    margin-left: 14px;
  }

  .editor__send-cancel {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .editor__button {
    width: 183px;

    &--send {
      margin-bottom: 0;
    }
  }

  .editor__band-wrapper {
    &::before {
      width: 410px;
    }
  }
}
