.gallery__introduction {
  font-size: 14px;
  color: $middle-gray;
  margin-top: 54px;
  margin-bottom: 40px;
  text-align: center;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  margin-top: 20px;
}
