.gallery__introduction {
  font-size: 14px;
  color: $middle-gray;
  margin-top: 45px;
  margin-bottom: 49px;
  text-align: center;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .gallery__introduction {
    font-size: 18px;
    margin: auto;
    margin-top: 91px;
    margin-bottom: 77px;
    width: 460px;

    & br {
      display: none;
    }
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 620px;
    margin-left: auto;
    margin-right: auto;

    &--panorama {
      display: block;
      width: auto;
      margin-bottom: 49px;
    }
  }

  .gallery__item {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .gallery__introduction {
    margin-bottom: 89px;
    width: 580px;
  }

  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 54px;
    width: 940px;

    &--panorama {
      display: block;
      width: auto;
    }
  }
}
