.post__img {
  vertical-align: bottom;

  &--panorama {
    width: 100%;
    height: 137px;
    object-fit: cover;
    object-position: center;
  }
}

.post__img-panorama-wrapper {
  position: relative;
}

.post__of-day-container {
  width: 280px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.post__of-day {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  background-color: $pink;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 19px;
  padding-right: 19px;
  width: 140px;
  box-sizing: border-box;
  margin-left: auto;
}

.post__description {
  color: $middle-gray;
  padding-top: 18px;
  padding-left: 17px;
  padding-right: 12px;
  padding-bottom: 18px;
  background-color: $light-gray;
}

.post__user-time {
  display: flex;
  line-height: 24px;
  margin-bottom: 1px;
}

.post__user {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-right: 3px;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.post__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 11px;
}

.post__likes-quantity {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: $pink;
  text-transform: uppercase;
}

.post__likes-button {
  padding: 0;
  margin-right: 18px;
  width: 13px;
  height: 12px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/heart.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.post__likes-wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .post__img {
    width: 300px;
    height: 300px;

    &--panorama {
      height: 509px;
      width: auto;
    }
  }

  .post__of-day-container {
    width: 620px;
    top: 57px;
  }

  .post__likes-button {
    order: 2;
    margin-left: auto;

    &--panorama {
      margin-left: 59px;
      margin-right: 0;
    }
  }

  .post__description {
    &--panorama {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .post__likes-wrapper {
    &--panorama {
      order: 2;
    }
  }

  .post__user-time {
    &--panorama {
      order: 1;
      margin: 0;
    }
  }

  .post__text {
    &--panorama {
      order: 3;
      margin-top: 14px;
    }
  }
}

@media (min-width: $desktop-width) {
  .post__img {
    height: 400px;

    &--panorama {
      height: 506px;
      width: auto;
    }
  }

  .post__of-day-container {
    width: 940px;
    top: 57px;
  }
}
