.container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0 130px;
  }
}
