$opacity-03-black: rgba( 0, 0, 0, 0.3);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray-blue: #1D2631;
$light-gray: #F2F2F2;
$middle-gray: #283645;
$opacity-03-middle-gray: rgba(40, 54, 69, 0.1);
$pink: #D22856;
