$opacity-03-black: rgba(0, 0, 0, 0.3);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$opacity-015-white: rgba(255, 255, 255, 0.15);
$opacity-03-white: rgba(255, 255, 255, 0.3);
$gray-blue: #1d2631;
$light-gray: #f2f2f2;
$middle-gray: #283645;
$opacity-03-middle-gray: rgba(40, 54, 69, 0.3);
$opacity-06-middle-gray: rgba(40, 54, 69, 0.6);
$opacity-01-middle-gray: rgba(40, 54, 69, 0.1);
$opacity-05-middle-gray: rgba(40, 54, 69, 0.5);
$pink: #d22856;
$opacity-03-pink: rgba(210, 40, 86, 0.3);
$small-gray: #e5e5e5;
$green: #2aab6d;
$dark-green: #1c9b5e;
$shadow: rgba(0, 1, 1, 0.15);

$tablet-width: 660px;
$desktop-width: 1200px;

$tablet-width-only: 1199px;
$mobile-width-only: 659px;
