.fail-popup {
  padding-top: 39px;
  padding-bottom: 50px;
  border-radius: 1px;
  box-shadow: 0 7px 15px $shadow;
}

.fail-popup__title {
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.fail-popup__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $middle-gray;
  margin-top: 25px;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .fail-popup {
    width: 460px;
    margin: auto;
    border-radius: 5px;
    padding-top: 43px;
    padding-bottom: 52px;
  }

  .fail-popup__title {
    font-size: 30px;
    line-height: 40px;
    width: 235px;
    margin: auto;
  }

  .fail-popup__subtitle {
    font-size: 18px;
    width: 305px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 33px;
  }

  .fail-popup__button {
    width: 300px;
    display: block;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .fail-popup {
    width: 780px;
    padding-bottom: 0;
  }

  .fail-popup__title {
    width: 330px;
  }

  .fail-popup__subtitle {
    width: 355px;
    margin-bottom: 68px;
  }

  .fail-popup__button-background {
    background-color: $light-gray;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
