.form-group {
  border: none;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 42px;

  &--achievements {
    padding-bottom: 55px;
  }

  &--emotion {
    padding-bottom: 50px;
  }

  &:nth-child(2n) {
    background-color: $light-gray;
  }
}

.form-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-group__legend {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $pink;

  &--contacts {
    display: none;
  }
}

.form-group__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  border: 2px solid $light-gray;
  border-radius: 2px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-top: 15px;

  &:placeholder {
    color: $middle-gray;
  }
}

.form-group__label-input {
  font-size: 14px;
  color: $pink;
  text-transform: uppercase;
  margin-left: 23px;
  display: inline-block;
  margin-top: 27px;

  &--surname {
    margin-top: 0;
  }

  &--contacts {
    margin-top: 0;
  }
}

.form-group__label-checkbox {
  padding-left: 59px;
  margin-top: 69px;
  position: relative;
  display: inline-block;

  &--selfie {
    margin-top: 55px;
  }
}

.form-group__checkbox + .form-group__label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 35px;
  height: 35px;
  border: 2px solid $small-gray;
  border-radius: 1px;
  background-color: $white;
}

.form-group__checkbox:hover + .form-group__label-checkbox::before {
  border: 2px solid $middle-gray;
}

.form-group__checkbox:active + .form-group__label-checkbox::before {
  border: 2px solid $pink;
}

.form-group__checkbox:checked + .form-group__label-checkbox::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 5px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
}

.form-group__label-checkbox-radio {
  padding-left: 70px;
  margin-top: 62px;
  display: inline-block;
  position: relative;

  &--platform {
    margin-top: 52px;
  }
}

.form-group__radio + .form-group__label-checkbox-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
  width: 37px;
  height: 37px;
  border: 2px solid $small-gray;
  border-radius: 50%;
  background-color: $white;
}

.form-group__radio:hover + .form-group__label-checkbox-radio::before {
  border: 2px solid $middle-gray;
}

.form-group__radio:active + .form-group__label-checkbox-radio::before {
  border: 2px solid $pink;
}

.form-group__radio:checked + .form-group__label-checkbox-radio::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 4px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.form-group__textarea {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  min-height: 197px;
  margin-top: 22px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid $small-gray;
  border-radius: 1px;
}

.form-group__textarea::placeholder {
  color: $middle-gray;
}

@media (min-width: $tablet-width) {
  .form-group {
    border: 2px solid $small-gray;
    width: 620px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 0;

    &:nth-child(2n) {
      background-color: $white;
    }

    &--achievements {
      padding-bottom: 46px;
      order: 3;
    }

    &--full-name {
      border: none;
      padding: 0;
    }

    &--contacts {
      padding-bottom: 37px;
      order: 2;
    }

    &--app {
      padding-bottom: 66px;
      order: 1;
    }

    &--emotion {
      order: 4;
    }
  }

  .form-group__legend {
    line-height: 30px;
    padding: 0;
    margin-top: -17px;
    background-color: $white;

    &--contacts {
      display: block;
      /*width: 260px;*/
    }


    /*&--achievements {
      width: 436px;
    }

    &--app {
      width: 368px;
    }

    &--emotion {
      width: 260px;
    }
*/
  }

  .form-group__item {
    &--full-name {
      display: flex;
      align-items: center;
      margin-top: 52px;
    }

    &--full-name:first-child {
      margin-top: 0;
    }

    &--contacts {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 39px;
    }
  }

  .form-group__item--full-name .form-group__label-input {
    margin: 0;
    margin-right: 18px;
  }

  .form-group__item--full-name .form-group__input {
    margin: 0;
  }

  .form-group__label-checkbox {
    &--selfie {
      margin-top: 63px;
    }
  }

  .form-group__item--contacts .form-group__input {
    margin: 0;
  }

  .form-group__item--contacts .form-group__label-input {
    margin-top: 20px;
  }

  .form-group__label-checkbox-radio {
    &--platform {
      margin-top: 66px;
    }
  }

  .form-group__textarea {
    margin-top: 45px;
    min-height: 189px;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    width: 100%;

    &--contacts {
      padding-bottom: 23px;
    }

    &--achievements {
      padding-bottom: 68px;
    }

    &--contacts,
    &--emotion,
    &--achievements {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &--emotion {
      padding-bottom: 40px;
    }
  }

  .form-group__list {
    &--contacts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 70px;
    }


    &--achievements {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }

  .form-group__label-checkbox {
    &--selfie {
      margin-top: 69px;
    }
  }

  .form-group__item {
    &--selfie,
    &--Chuck-Norris,
    &--tower {
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}
