.form-group {
  border: none;
  padding: 0;
  padding-top: 57px;
  padding-bottom: 26px;
  margin: 0;

  &--achievements,
  &--app {
    padding-bottom: 46px;
  }

  &--contacts {
    padding-top: 31px;
  }

  &--full-name {
    padding-top: 19px;
  }

  &--emotion {
    padding-top: 41px;
    padding-bottom: 43px;
  }

  &:nth-child(2n) {
    background-color: $light-gray;
  }
}

.form-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-group__legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 218px;
  margin: auto;
  color: $pink;
  position: relative;
  top: 57px;

  &--contacts {
    display: none;
  }

  &--emotion {
    top: 39px;
  }
}

.form-group__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  border: 2px solid $small-gray;
  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-top: 4px;

  &:placeholder {
    color: $middle-gray;
  }

  &:hover,
  &:focus {
    border: 2px solid $middle-gray;
  }

  &:active {
    border: 2px solid $pink;
  }
}

.form-group__label-input {
  font-size: 14px;
  color: $pink;
  text-transform: uppercase;
  margin-left: 23px;
  margin-top: 17px;
  display: inline-block;

  &--surname {
    margin-top: 0;
  }

  &--contacts {
    margin-top: 0;
  }
}

.form-group__label-checkbox {
  padding-left: 59px;
  margin-top: 52px;
  position: relative;
  display: inline-block;

  &--selfie {
    margin-top: 42px;
  }
}

.form-group__checkbox + .form-group__label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 35px;
  height: 35px;
  border: 2px solid $small-gray;
  border-radius: 1px;
  background-color: $white;
}

.form-group__checkbox:hover + .form-group__label-checkbox::before,
.form-group__checkbox:focus + .form-group__label-checkbox::before {
  border: 2px solid $middle-gray;
}

.form-group__checkbox:active + .form-group__label-checkbox::before {
  border: 2px solid $pink;
}

.form-group__checkbox:checked + .form-group__label-checkbox::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 5px;
  width: 22px;
  height: 16px;
  background-image: url("../img/form/tick.svg");
}

.form-group__label-checkbox-radio {
  padding-left: 70px;
  margin-top: 45px;
  display: inline-block;
  position: relative;

  &--platform {
    margin-top: 38px;
  }
}

.form-group__radio + .form-group__label-checkbox-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 37px;
  height: 37px;
  border: 2px solid $small-gray;
  border-radius: 50%;
  background-color: $white;
}

.form-group__radio:hover + .form-group__label-checkbox-radio::before,
.form-group__radio:focus + .form-group__label-checkbox-radio::before {
  border: 2px solid $middle-gray;
}

.form-group__radio:active + .form-group__label-checkbox-radio::before {
  border: 2px solid $pink;
}

.form-group__radio:checked + .form-group__label-checkbox-radio::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 7px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.form-group__textarea {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  min-height: 197px;
  resize: vertical;
  margin-top: 15px;
  padding-top: 12px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid $small-gray;
  box-sizing: border-box;
  border-radius: 1px;

  &:hover,
  &:focus {
    border: 2px solid $middle-gray;
  }

  &:active {
    border: 2px solid $pink;
  }
}

.form-group__textarea::placeholder {
  color: $middle-gray;
}

@media (min-width: $tablet-width) {
  .form-group {
    border: 2px solid $small-gray;
    width: 620px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 0;

    &:nth-child(2n) {
      background-color: $white;
    }

    &--achievements {
      padding-bottom: 54px;
      order: 3;
    }

    &--full-name {
      border: none;
      padding: 0;
    }

    &--contacts {
      padding-bottom: 26px;
      margin-bottom: 54px;
      order: 2;
    }

    &--app {
      padding-bottom: 60px;
      order: 1;
    }

    &--emotion {
      order: 4;
      margin-bottom: 65px;
    }
  }

  .form-group__legend {
    line-height: 30px;
    padding: 0;
    margin-top: -17px;
    background-color: $white;
    position: static;

    &--contacts {
      display: inline;
      width: 260px;
    }


    &--achievements {
      width: 436px;
    }

    &--app {
      width: 368px;
    }

    &--emotion {
      width: 260px;
    }
  }

  .form-group__item {
    &--full-name {
      display: flex;
      align-items: center;
      margin-top: 52px;
    }

    &--full-name:first-child {
      margin-top: 0;
    }

    &--contacts {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 29px;

      &:last-child {
        margin-top: 28px;
      }
    }
  }

  .form-group__item--full-name .form-group__label-input {
    margin: 0;
    margin-right: 20px;
  }

  .form-group__input {
    margin: 0;
    padding-left: 20px;

    &--contacts {
      padding-right: 80px;
      background-repeat: no-repeat;
      background-position: center right;
    }

    &--contacts-phone {
      background-image: url("../img/form/input-img-phone.svg");
    }

    &--contacts-email {
      background-image: url("../img/form/input-img-email.svg");
    }
  }

  .form-group__label-checkbox {
    &--selfie {
      margin-top: 40px;
    }
  }

  .form-group__item--contacts .form-group__label-input {
    margin-top: 11px;
    margin-left: 19px;
  }

  .form-group__label-checkbox-radio {
    padding-left: 61px;

    &--platform {
      margin-top: 43px;
    }
  }

  .form-group__textarea {
    margin-top: 33px;
    min-height: 189px;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    width: 100%;
    margin-bottom: 0;

    &--contacts {
      padding-bottom: 13px;
    }

    &--achievements {
      padding-bottom: 58px;
    }

    &--contacts,
    &--emotion,
    &--achievements {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &--emotion {
      padding-bottom: 35px;
      margin-bottom: 62px;
    }

    &--app {
      padding: 0;
    }

    &--full-name {
      margin-top: 16px;
    }
  }

  .form-group__list {
    &--contacts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 70px;
    }

    &--achievements {
      display: grid;
      grid-template-columns: 315px 295px auto;
    }

    &--app {
      margin-left: 72px;
    }
  }

  .form-group__label-checkbox {
    margin-top: 41px;
  }

  .form-group__item {
    &--selfie,
    &--Chuck-Norris,
    &--tower {
      grid-row-start: 1;
      grid-row-end: 2;
      margin-bottom: 12px;
    }

    &--full-name:first-child {
      margin-top: 4px;
    }

    &--full-name {
      margin-top: 53px;
    }

    &--contacts,
    &--contacts:last-child {
      margin-top: 26px;
    }
  }

  .form-group__textarea {
    margin-top: 30px;
    min-height: 126px;
  }
}
