.success-popup {
  padding-top: 44px;
  border-radius: 1px;
  box-shadow: 0 7px 15px $shadow;
}

.success-popup__title {
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.success-popup__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $middle-gray;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 41px;
}

.success-popup__button-background {
  background-color: $light-gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .success-popup {
    width: 460px;
    margin: auto;
    border-radius: 5px;
    padding-top: 49px;
  }

  .success-popup__title {
    font-size: 30px;
    line-height: 40px;
    width: 300px;
    margin: auto;
  }

  .success-popup__subtitle {
    font-size: 18px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  .success-popup__button {
    width: 300px;
    margin: auto;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .success-popup {
    width: 780px;
  }

  .success-popup__title,
  .success-popup__subtitle {
    width: 400px;
  }

  .success-popup__subtitle {
    margin-bottom: 44px;
  }

  .success-popup__button {
    width: 460px;
  }
}
