.success-popup {
  display: none;
  position: fixed;
  height: 341px;
  padding-top: 38px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1px;
  box-shadow: 0 7px 15px $shadow;
  background-color: $white;

  &--active {
    display: block;
  }
}

.success-popup__title {
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.success-popup__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $middle-gray;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
}

.success-popup__button-background {
  background-color: $light-gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .success-popup {
    width: 460px;
    height: 391px;
    margin: auto;
    border-radius: 5px;
    padding-top: 42px;
  }

  .success-popup__title {
    font-size: 30px;
    line-height: 40px;
    width: 300px;
    margin: auto;
  }

  .success-popup__subtitle {
    font-size: 18px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 30px;
  }

  .success-popup__button {
    width: 300px;
    margin: auto;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .success-popup {
    width: 780px;
    height: 336px;
  }

  .success-popup__title,
  .success-popup__subtitle {
    width: 400px;
  }

  .success-popup__subtitle {
    margin-bottom: 39px;
  }

  .success-popup__button {
    width: 460px;
  }
}
