.main-nav {
  width: 100%;
  display: none;

  &--open {
    display: block;
  }
}

.main-nav__list {
  line-height: 32px;
  font-weight: 700;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  line-height: 18px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 1px 0 $black, inset 0 1px 0 $opacity-015-white;
}

.main-nav__link {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $opacity-03-white;
  }

  &--active {
    border-bottom: 2px solid $white;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;

    line-height: 18px;
    font-weight: 400;
  }

  .main-nav__item {
    padding: 0;
    box-shadow: none;
  }

  .main-nav__item + .main-nav__item {
    margin-left: 79px;
  }
}
