.page-header {
  color: $white;
  background-color: $opacity-03-black;
  position: relative;

  &--main-nav-open {
    background-color: $middle-gray;
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
}

.page-header__nav-toggle {
  width: 50px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/open-menu-btn.svg");
}

.page-header__logo-img {
  &:hover path {
    fill: $pink;
  }

  &:active path {
    fill: $opacity-03-white;
  }
}
