.copyright {
  font-size: 14px;
  line-height: 18px;
  color: $middle-gray;
  display: flex;
  align-items: center;
}

.copyright__text {
  font-weight: normal;
}

.copyright__link {
  display: inline-block;
  margin-left: 15px;
}

.copyright__img {
  width: 27px;
  height: 34px;
  vertical-align: bottom;
  fill: $pink;

  &:hover {
    fill: $middle-gray;
  }

  &:active {
    fill: $opacity-03-middle-gray;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
