.copyright {
  font-size: 14px;
  line-height: 18px;
  color: $middle-gray;
  display: flex;
  align-items: center;
}

.copyright__text {
  font-weight: normal;
}

.copyright__link {
  display: inline-block;
  margin-left: 15px;

  &:hover .copyright__path-academy {
    fill: $middle-gray;
  }

  &:active .copyright__path-academy {
    fill: $middle-gray;
    opacity: 0.3;
  }
}

.copyright__img {
  vertical-align: bottom;
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
