.logo-footer__link {
  display: inline-block;
}

.logo-footer__img {
  vertical-align: bottom;
  fill: $middle-gray;

  &:hover {
    fill: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo-footer__img-stars-glasses {
  display: none;
}

@media (min-width: $desktop-width) {
  .logo-footer__img-glasses {
    display: none;
  }

  .logo-footer__img-stars-glasses {
    display: inline;
  }
}
