.logo-footer__link {
  display: inline-block;
}

.logo-footer__img {
  vertical-align: bottom;
  fill: $middle-gray;

  &:hover .logo-footer__img-text {
    fill: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}
