.page-footer {
  background-color: $white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-link {
  margin-bottom: 22px;
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo-link,
  .page-footer__social {
    margin-bottom: 0;
  }
}
