.social__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link {
  border: 3px solid $opacity-03-middle-gray;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  background-color: var(--extra-gray);
  border-radius: 50%;

  &:hover {
    border-color: $middle-gray;
  }

  &:active {
    border-color: $opacity-01-middle-gray;
  }
}

.social__img {
  &--twitter {
    width: 18px;
    height: 14px;
  }

  &--facebook {
    width: 9px;
    height: 18px;
  }

  &--youtube {
    width: 15px;
    height: 13px;
  }
}

.social__link:active .social__img {
  opacity: 0.3;
}

.social__item {
  margin-right: 8px;
}

.social__item:last-child {
  margin-right: 0;
}
